[tcpout]
useACK = true
indexAndForward = false
defaultGroup = splunk

[tcpout:splunk]
compressed = true

{% if pillar['splunkforwarder']['forward_servers'] is defined %}
server = {{ pillar['splunkforwarder']['forward_servers']|join(',') }}
sslCertPath = /opt/splunkforwarder/etc/certs/{{ self_cert }}
sslPassword = {{ pillar['splunk']['password']['outputs.conf'] }}
sslRootCAPath = /opt/splunkforwarder/etc/certs/cacert.pem
sslVerifyServerCert = false
{% elif pillar['splunkforwarder']['outputs']['use_ssl'] == True %}
server = {{ pillar['splunkforwarder']['outputs']['forward_servers']|join(',') }}
sslCertPath = /opt/splunkforwarder/etc/certs/{{ self_cert }}
sslPassword = {{ pillar['splunk']['password']['outputs.conf'] }}
sslRootCAPath = /opt/splunkforwarder/etc/certs/cacert.pem
sslVerifyServerCert = false
{% else %}
server = {{ pillar['splunkforwarder']['outputs']['forward_servers']|join(',') }}
{% endif %}
